{% extends "base.html.twig" %}
{% block body %}
<h2>Bets for game <strong>{{ game }}</strong></h2>

{{
    render_live(
        controller('App\\Controller\\DefaultController::betList', { game: game }),
        {'tags': ['bets', 'game-'~game]}
    )
}}
{% endblock %}
