{% extends "base.html.twig" %}
{% block body %}
<h1>Register a bet</h1>
<form method="post" action="{{ path('do_bet') }}">
    <p><input type="text" name="email" placeholder="Your email" /></p>
    <p><input type="text" name="game" placeholder="Game name" /></p>
    <p><input type="text" name="left" placeholder="Left score" /></p>
    <p><input type="text" name="right" placeholder="Right score" /></p>

    <button type="submit">Bet !</button>
</form>

<h2>Bets</h2>
{{
    render_live(
        controller('App\\Controller\\DefaultController::betList'),
        {'tags': ['bets']}
    )
}}
{% endblock %}
