<table>
    <thead>
    <tr>
        <th>Game</th>
        <th>Left</th>
        <th>Right</th>
    </tr>
    </thead>
    {% for bet in bets %}
        <tr>
            <td><a href="{{ path('bets_for_game', {game: bet.game}) }}">{{ bet.game }}</a></td>
            <td>{{ bet.leftScore }}</td>
            <td>{{ bet.rightScore }}</td>
        </tr>
    {% endfor %}
</table>
